{{ define "header" }}
  <div class="subhead">{{ i18n "posts" }}</div>
  <div class="rel">{{ site.Params.releaseName }}</div>
{{ end }}

{{ define "main" }}
  {{- with .Content }}
  <div class="copy">{{ . }}</div>
  {{- end }}

  {{ partial "rule.html" . }}

  {{- $paginator := .Paginate .RegularPagesRecursive }}
  <div class="posts">
    {{- range $paginator.Pages }}
      {{ partial "post-card.html" . }}
    {{- else }}
      <p style="text-align:center">{{ i18n "nothingHere" }}</p>
    {{- end }}
  </div>

  {{- if gt $paginator.TotalPages 1 }}
  <div class="pager">
    {{- with $paginator.Prev }}<a href="{{ .URL }}">[ {{ i18n "newer" }} ]</a>{{ end }}
    <span>{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
    {{- with $paginator.Next }}<a href="{{ .URL }}">[ {{ i18n "older" }} ]</a>{{ end }}
  </div>
  {{- end }}
{{ end }}
